*{
  margin: 0;
  padding: 0;
}
.wrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.container{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.title{
  font-size: 28px;
  font-weight: 550;
  color: rgb(6, 4, 42);
  text-transform: uppercase;
}
.boxes{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.color-name{
  color: purple;
  font-size: 28px;
  min-width: 200px;
}
.box{
  width: 10%;
  height: 80px;
  border-radius: 10px;
  background-color: purple;
  cursor: pointer;
}
.game-over{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.t{
  font-size: 24px;
  font-weight: 600;
  color: maroon;
}
.score{
  font-size: 18px;
  color: green;
}
.next-level{
  padding: 5px 20px;
  border-radius: 10px;
  background-color: teal;
  color: white;
  border: none;
  outline: none;
}
.try-again{
  padding: 5px 20px;
  border-radius: 10px;
  background-color: goldenrod;
  color: white;
  border: none;
  outline: none;
}